*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container{
    width: 450px;
    padding: 32px;
    box-shadow: 0px 0px 15px black;
}

.header{
    text-align: center;
    margin: 0px 0px 30px 0px;
}

.google_img{
    width: 75px;
}

.sign_in{
    margin-bottom: 40px;
}

.sign_in p{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 15px;
}

.inputField{
    position: relative;
}

.inputField input{
    padding: 13px;
    width: 100%;
    margin-bottom: 17px;
    border: 1px solid rgb(186, 185, 185);
    background-color: transparent;
    outline: none;
    border-radius: 3px;
    z-index: 3;
    position: relative;
}

.inputField label{
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    color: rgb(186, 185, 185);
    padding: 3px;
    transition: all 0.1s linear;
    user-select: none;
}

.inputField input:focus + label{
    top: -10px;
    z-index: 5;
    color: rgb(0, 85, 255);
    font-size: 11px;
}

.inputField input:focus {
    border:1px solid rgb(0, 85, 255);
}

.inputField input:not(:focus):valid + label{
    top: -10px;
    z-index: 5;
    font-size: 11px;
}

.show_password_checkbox{
    display: flex;
    gap: 1px;
    align-items: center;
}

.show_password_checkbox label{
    font-size: 11px;
}
.show_password_checkbox input{
    width: 15px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom a{
    font-size: 13px;
    color: rgb(0, 85, 255);
}

.bottom button{
    padding: 13px 15px;
    color: white;
    background-color: rgb(0, 85, 255);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
}
