*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.infiniteScroll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.infiniteScrollContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.listItems{
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.loader{
    text-align: center;
    margin: 15px 0px;

}