*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.expenseTracker{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(213, 192, 192);
}

.expenseTrackerContainer{
    padding: 15px;
    width: 400px;
    background-color: white;
    border-radius: 5px;
}

.expenseTrackerHeading{
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.totalAmount{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    /* border: 1px solid black; */
    background-color: rgb(68, 0, 255);
    color: white;
}

.totalAmountHeading{
    text-transform: uppercase;
    font-size: 12px;
}

.totalBalance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.totalAmountHeading{
    font-size: 10px;
}

.totalBalanceValue{
    font-size: 30px;
    font-weight: 700
}

.incomeExpense{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.incomeDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.incomeValue{
    font-size: 20px;
    font-weight: 600;
}

.expenseDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.expenseValue{
    font-size: 20px;
    font-weight: 600;
}

.transactions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 0;
    margin: 10px 0;
}

.transactionsHeading,.addTransactionHeading{
    font-size: 15px;
    font-weight: bolder;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    width: max-content;
    margin: 0 auto;
}

.transactionsHeading::after,.addTransactionHeading::after{
    content: "";
    position: absolute;
    left: 20%;
    top: 100%;
    width: 60%;
    height: 1px;
    background-color: black;

}

.transactionsDetails{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 30px 0; 
    display: none;
}

.transactionsNameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.noTransactions{
    margin: 0 auto;
    padding: 10px 0;
    font-weight: 400;
    display: block;
    min-height: 100px;
    letter-spacing: 2px;
}

.transactionsNameDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.transactionsName{
    font-size: 15px;
    text-transform: capitalize
}

.transactionDate{
    font-size: 14px;
    font-weight: 600;
    color: rgb(185, 180, 180);
}

.transactionsValue{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.clearBtn{
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    color: white;
    background-color: red;
    border: none;
    cursor: pointer;
    display: none;
}

.clearBtn{
    display: block;
}

.addBalance{
    color: rgb(26, 170, 26);
    font-weight: 600;
    font-size: 18px;
}

.subtractBalance{
    color: rgb(203, 59, 59);
    font-weight: 600;
    font-size: 18px;
}

.clearAllBtn{
    padding: 13px;
    margin: 0 auto;
    background-color: red;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.addTransaction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

/* .addTransactionHeading{
    padding: 5px 0;
    font-size: 17px;
    text-align: center;
} */

.incomeExpenseBtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(219, 217, 217);
    padding: 4px;
    gap: 5px;
}

.expenseBtn,.incomeBtn{
    padding: 8px;
    width: 50%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 800;
    letter-spacing: 1px;
}

.active{
    background-color: white;
}

.addTransaction form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

form label{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bolder;
}

.nameContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.amount,.date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.nameInput{
    padding: 8px;
    border: 2px solid rgb(212, 212, 212);
    font-size: 14px;
    font-weight: 500;
}

.amountDateContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amountInput{
    padding: 7px;
    border: 2px solid rgb(212, 212, 212);
    font-size: 14px;
    font-weight: 500;
    width: 95%;
}

.dateInput{
    width: 100%;
    padding: 6px;
    border: 2px solid rgb(212, 212, 212);
    font-size: 14px;
    font-weight: 500;
}

input:focus{
    outline: none;
}

.submitBtn{
    margin: 10px 0;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    color: white;
    background-color: rgb(68, 0, 255);
    border: none;
    cursor: pointer;
}