* {
    background-color: black;
    color: white;
}

#gaming {
    width: 600px;
    height: 350px;
}

a{
    color: rgb(129, 10, 234);
}

#carimg {
    width: 600px;
    height: 350px;
}